.main-page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    background-color: #f6f7f8;
    z-index: 9999;
    transition: opacity 500ms ease-out, visibility 100ms ease-out;
    animation: resizeLogo 0.5s ease-in-out forwards 500ms;
}

.loading-screen-mobile {
    display: none;
}

.logo {
    width: 80%;
    height: 80%;
}

@keyframes resizeLogo {
    0% {
        width: 95vw;
        height: 95vh;
        max-width: 95vw;
        max-height: 95vh;
    }

    15% {
        background-color: #f6f7f800;
    }

    100% {
        top: 45px;
        left: 80px;
        width: 100.03px;
        height: 121.97px;
        max-width: 100.03px;
        max-height: 121.97px;
    }
}

.signup-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    left: 30%;
    top: 80px;
    height: 49px;
    width: 279px;
    margin-right: 10px;
    z-index: 1;
    ;
}

.signup-container button {
    border-radius: 8px;
    width: 100px;
    height: 45px;
    background: #2A3647;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-style: unset;
    cursor: pointer;
}

.signup-container button:hover {
    background: #29ABE2;
    transition: 100ms ease-in-out;
    box-shadow: 0px 0px 14px 3px #00000053;
}

.signup-container button:focus {
    background: #091931;
}

.login-container {
    position: relative;
    display: flex;
    text-align: center;
    width: 652px;
    height: 422px;
    top: 180.5px;
    padding: 48px 0px 48px 0px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 14px 3px #0000000A;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.login-container h1 {
    font-weight: 700;
    font-size: 61px;
    width: 315px;
    height: 73px;
    margin: 0;
}

.line {
    width: 150px;
    height: 3px;
    background-color: #29abe2;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-fields-signup {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border-color: #d1d1d1;
    border: 1px solid #d1d1d1;
    text-indent: 10px;
    font-family: "Inter";
}

::placeholder {
    color: #D1D1D1;
}

#login-form {
    display: flex;
    gap: 32px;
    height: 196px;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 422px;
    gap: 32px;
    padding-bottom: 20px;
}

#email,
#password {
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    border-color: #d1d1d1;
    border: 1px solid #d1d1d1;
    text-indent: 10px;
    font-family: "Inter";
}

#email::placeholder {
    color: #d1d1d1;
    opacity: 0.9;
    font-weight: 400;
    text-indent: 10px;
    font-size: 14px;
}

#error {
    font-size: 14px;
    color: #ff8190;
    position: absolute;
    bottom: 190px;
    left: 116px;
}

.remember-container {
    width: 345px;
    height: 24px;
    gap: 16px;
    display: flex;
    align-items: center;
}

.login-buttons {
    display: flex;
    gap: 32px;
}

#login:hover {
    border: 0px;
    background: #29ABE2;
    transition: 100ms ease-in-out;
    box-shadow: 0px 0px 14px 3px #00000053;
}

#login:focus {
    background: #091931;
}

#guest-login:hover {
    border: 2px solid #29ABE2;
    color: #29ABE2;
    transition: 100ms ease-in-out;
    box-shadow: 0px 0px 14px 3px #00000053;
}

#guest-login:focus {
    background: #091931;
    color: #FFFFFF;
}

#login {
    width: 110px;
    height: 48px;
    padding: 15px 24px 15px 24px;
    gap: 10px;
    border-radius: 8px;
    background: #2A3647;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#guest-login {
    width: 177px;
    height: 48px;
    padding: 15px 24px 15px 24px;
    gap: 10px;
    border-radius: 8px;
    background: #FFFFFF;
    border: 1px solid #2A3647;
    cursor: pointer;
    font-size: 16px;
}

footer {
    position: absolute;
    display: flex;
    width: 246px;
    height: 35px;
    bottom: 20px;
    gap: 16px;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #A8A8A8;
    width: 250px;
    text-align: center;
    padding-top: 20px;
}

footer a:hover {
    font-weight: bold;
    color: #29ABE2;
}